
<% @posts.reverse_each do |p|
	if p.is_a? Question
		unique_id = "q" + p.id.to_s
	else
		unique_id = "v" + p.id.to_s
	end
%>
<div class="col-md-12">
  <div class="row q-view">
  	<div class="col-md-12">
			<div class="icon" style="background-image: url('<%=p.user.photo%>')"></div>
			<p><%= p.user.name %><%="->" if p.is_a? Question %><%= User.find(p.to_user_id).name if p.is_a? Question %> </p>
  		<h3><%= p.title %></h3>
			<div class="desc">
				&lt;Description&gt;
				<p>
					<%= p.description %>
				</p>
			</div>
  		<div class="col-md-12" style="padding-left: 0; padding-right: 0">
  			<div class="date">
  				<p style="margin-top:10px; margin-bottom:0"><%= p.created_at %></p>
  			</div>
  			<div class="pull-right">
					<span id= "show_<%=unique_id%>" class="show_answer btn-gray" data-value="<%= unique_id %>" style="margin: 0 10px 0 0">
						<% if p.hasAnswered(current_user.id) %>
  						펼쳐보기
						<% else %>
							답변달기
						<% end %>
					</span>
  			</div>
  		</div>
  	</div>
  </div>
	<div class="row">
	<div id="answer_<%= unique_id %>" class="col-md-offset-1 col-md-10 below-view" style="display:none">
		<% # 질문일 때
		if p.is_a? Question %>

  <% p.comments.each do |c| %>
	  <div class="row c-view">
	  	<div class="col-md-12" style="margin-top:10px;">
				<p class="col-md-2"><%= c.user.name %></p>
				<p><%= c.content %></p>
			</div>
	  </div>
  <% end %>
		<div class="col-md-12">
			<form action="/comments/create/<%= p.id %>" method="GET">
				<div>
				<textarea name="reply" rows="3" placeholder="답변을 달아주세요" style="margin:20px 10px 10px 10px;"></textarea>
				</div>
				<div class="pull-right">
			  <button type="submit" class="pull-right btn-gray" style="margin-bottom:10px;">답변등록</button>
				</div>
		  </form>
	  </div>

			<% # 투표일 때
		else %>
		<div class="col-md-12">
		<% p.photos.each do |photo| %>
			<div class="photo_cell row" data-photo_id="<%=photo.id %>">
				<div class="col-xs-3 col-sm-2 col-md-2">
					<%= photo.target.name %>
				</div>
				<div class="col-xs-9 col-sm-10 col-md-10">
					<div id="vote_graph<%=photo.id%>" class="vote_graph <%="vote_graph-selected" if photo.hasChosen(current_user.id)%>" style="width:<%=photo.width%>%">
						</div>
						<div id="vote_count<%=photo.id%>" class="vote_count">
							<%= photo.photolikes.count %>표
						</div>
				</div>
			</div>
		<% end %>
		</div>
		<% end %>
	</div>
	</div>
	<% # margin %>
	<div style="padding-top: 10px"></div>
	</div>
<% end %>


<script>
$(document).ready(function(){
	$(".show_answer").click(function(){
		var unique_id = $(this).attr('data-value');
		$(this).toggleClass("show-reply-selected");
		$("#answer_"+unique_id).toggle();
	});
	$(".photo_cell").click(function(e){
		const photo_id = $(this).data("photo_id");
		$.ajax({
			url: '/vote/photo/like/' + photo_id,
			type: 'POST',
			dataType: 'json',
			data: {	},
			success: function(data) {
				var length = data.ids.length;
					console.log(data.ids[0]);
				for (var i = 0; i < length; i++) {
					$("#vote_graph" + data.ids[i]).animate({"width":data.widths[i]+"%"}, 1000);
					$("#vote_count" + data.ids[i]).text(data.votes[i] + "표");
					if(data.ids[i] != photo_id) {
						$("#vote_graph" + data.ids[i]).removeClass("vote_graph-selected");
					}
				}
				$("#vote_graph" + photo_id).toggleClass("vote_graph-selected");
				
				/*
				$("#vote_graph" + photo_id).animate({"width":data.width+"%"}, 1000);
				$("#vote_count" + photo_id).text(data.votes + "표");
				$("#vote_graph" + photo_id).toggleClass("vote_graph-selected");
				if(data.cancelled) {
					$("#vote_graph" + photo_id).removeClass("vote_graph-selected");
				}
				if(data.moved) {
					$("#vote_graph" + data.former_id).animate({"width":data.former_width+"%"}, 1000);
					$("#vote_count" + data.former_id).text(data.former_votes + "표");
					$("#vote_graph" + data.former_id).removeClass("vote_graph-selected");
				}
				*/
			}
		});
	});
});
</script>
