<style>
.upper-btn {
	background-color: white;
	color: #E67F22;
	border: 1px solid #E67F22;
	box-sizing: border-box;
		padding: 10px;
			width: 50%;
				text-align: center;
}
.selected {
	background-color: #E67F22;
	color: white;
}
.write_panel {
	background-color: lightgray;
		padding: 15px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
}
.target_box {
	background-color: white;
		padding: 5px;
		border: 1px solid lightgray;
			border-radius: 5px;
				width: 94%;
					margin: 0 3%;
}
	textarea {
		-webkit-box-sizing: border-box;
			       -moz-box-sizing: border-box;
							             box-sizing: border-box;
														 width: 94%;
															 margin: 5px 3%;
	}

</style>

<div class="row">
	<div id="question_btn" class="col-md-6 upper-btn selected">
		질문
	</div>
	<div id="vote_btn" class="col-md-6 upper-btn">
		투표
	</div>
</div>
<div class="row" id="question_write">
	<div class="panel write_panel col-md-12">

		<form action="/home/create" method="POST">
			<div>
				<span><%=current_user.name%></span> -> 
					<span class="to_user_id">
						<select name="toUserId">
							<% @users.each do |u| %>
								<option value="<%=u.id%>"><%=u.name%></option>
							<%end%>
						</select>
					</span>
			</div>
					
			<div>
				<textarea name="question" rows="3" placeholder="질문을 적어주세요" ></textarea>
			</div>
			<div>
				<textarea name="description" rows="7" placeholder="추가 설명을 적어주세요" style="width: 80%; margin: 10px 10% 20px 10%"></textarea>
			</div>
			<div>
				<button type="submit" class="pull-right btn_gray">질문등록</button>
			</div>

		</form>
	</div>
</div>
<div class="row" id="vote_write" style="display:none">
	<div class="panel write_panel col-md-12">
				icon <span><%=current_user.name%></span>
		<form action="/vote" method="PUT">
				<textarea name="vote" rows="3" placeholder="투표를 만들어주세요" ></textarea>
			<div class="target_box" style="margin-bottom: 20px">
				<p style="color:gray">대상을 선택해주세요.</p>
				<% @users.each do |u| %>
					<div style="display:inline-block">
						<input type="checkbox" name="target_user" value="<%=u.id%>">&nbsp;<%=u.name%>
					</div>
			<% end %>
			</div>
				<button type="submit" class="pull-right btn_gray">투표등록</button>

		</form>
	</div>
</div>


<script>
$(document).ready(function(){
	var toggle = function(){
		$("#question_btn").toggleClass('selected');
		$("#vote_btn").toggleClass('selected');
		$('#question_write').toggle();
		$('#vote_write').toggle();
	}
	$("#question_btn").click(toggle);
	$("#vote_btn").click(toggle);
});
</script>
