<div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0">
	<div id="question_btn" class="col-xs-6 col-sm-6 col-md-6 upper-btn selected">
		질문
	</div>
	<div id="vote_btn" class="col-xs-6 col-sm-6 col-md-6 upper-btn">
		투표
	</div>
<div class="col-xs-12 col-md-12" id="question_write" style="padding: 0">
	<div class="write_panel panel col-md-12">

		<form action="/home/create" method="POST">
			<div>
				<div class="icon" style="background-image: url('<%=current_user.photo%>')"></div>
				<span><%=current_user.name%></span> -&gt; 
					<span class="to_user_id">
						<select name="toUserId">
							<% @users.each do |u| %>
								<option value="<%=u.id%>"><%=u.name%></option>
							<%end%>
						</select>
					</span>
			</div>
			<div>
				<textarea name="question" rows="3" placeholder="질문을 적어주세요" ></textarea>
			</div>
			<div>
				<textarea name="description" rows="7" placeholder="추가 설명을 적어주세요" style="width: 80%; margin: 10px 10% 20px 10%"></textarea>
			</div>
			<div class="pull-right">
				<button type="submit" class="btn_gray">질문등록</button>
			</div>
		</form>

	</div>
</div>

<div class="col-xs-12 col-md-12" id="vote_write" style="padding: 0; display:none">
	<div class="panel write_panel col-md-12">
		<div class="icon" style="background-image: url('<%=current_user.photo%>')"></div>
		<span><%=current_user.name%></span>
		<form action="/vote/create" method="POST">
			<textarea name="title" rows="3" placeholder="투표를 만들어주세요."></textarea>
			<div class="target_box" style="margin-bottom: 20px">
				<p style="color:gray">대상을 선택해주세요.</p>
				<% @users.each do |u| %>
					<div style="display:inline-block">
						<label for="target_<%=u.id%>">
						<div class="icon" style="background-image: url('<%=u.photo%>')"></div>
						</label>
						<div>
							<input id="target_<%=u.id%>" type="checkbox" name="target_user[]" value="<%=u.id%>">&nbsp;<%=u.name%>
					</div>
					</div>
			<% end %>
			</div>
			<div class="pull-right">
				<button type="submit" class="btn_gray">투표등록</button>
			</div>
		</form>
	</div>
</div>
</div>


<script>
$(document).ready(function(){
	var toggle = function(){
		$("#question_btn").toggleClass('selected');
		$("#vote_btn").toggleClass('selected');
		$('#question_write').toggle();
		$('#vote_write').toggle();
	}
	$("#question_btn").click(toggle);
	$("#vote_btn").click(toggle);
});
</script>
