
<!DOCTYPE html>
<html>
<head>
  <title>SecretLion</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
.secretlion {
  margin-top: -10px;
}
.question {
  margin: 5px 10px 0px 0px;
}
.question_word {
  color: white !important; 
  font-size: 1.3em;
  font-weight: 1.1em;
  vertical-align: center;
  margin-right: 20px;
}
.title_word {
  color: #E67F22;
}
.user_touser {
  display: -webkit-flex !important;
  display:         flex !important;
  -webkit-align-items: center !important;
          align-items: center !important;
  margin-bottom: 15px;
}
</style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="background-color:#E67F22;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" >
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home/index">
            <%=image_tag('secretlion.png', width: '120px', height: '40px', class: 'secretlion')%>
        </a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <form action="/search" method="GET" class="navbar-form navbar-left">
          <div class="form-group searchbar" >
            <input type="text" name="keyword" class="form-control" placeholder="질문, 이름을 검색하세요">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </div>
        </form>
        <div class="nav navbar-nav navbar-right">
          <a href="/home/write" class="question_word"><%= image_tag("makequestion.png", width: '40px', height: '40px', class: 'question') %>나도 질문하기!</a>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container" style="margin-top:50px; padding:30px 10px 0px 10px">
  	<div class="row">
  		<div class="col-xs-12 col-sm-12 col-md-2">
				<div class="panel panel-default">
  				<div class="panel-body" style="background-color:lightgray;">
  					<p style="text-align:center">사자들</p>
  					<div class="text-center" style="margin: 0 auto; padding:5px;">
  					<% for user in User.all	%>
  						<div class="icon" style="background-image: url('<%= user.photo %>');"></div>
  					<% end %>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="col-xs-12 col-sm-12 col-md-8">
  		<%= yield %>
  		</div>
  		<div class="col-xs-12 col-sm-12 col-md-2">
  			<div class="panel panel-default" class="col-md-offset-1 col-md-10">
  				<div class="panel-body" style="background-color:lightgray;">
  					<div style=" display:flex; align-items:center">
							<div style="margin: 0 auto">
							<div class="icon" style="background-image: url('<%=current_user.photo%>')"></div>
							<div><p style="margin-left: 5px; margin-bottom: 0"><%=current_user.name%></p>
							</div>
							</div>
  					</div>
  					<div class="row text-center">
  						<p>나에 대한 질문/투표</p>
							<a class="btn-gray" href="/target">GO<span class="item-count"><%=current_user.target.count%></span></a>
  					</div>
  					<hr/>
  					<div class="row text-center">
  						<p>내가 한 질문/투표</p>
							<a class="btn-gray" href="/mine">GO<span class="item-count"><%=current_user.mine.count%></a>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</body>
</html>
